<!-- Наявність меблів -->
<div class="mt-4 md:mt-0">
    <label class="block text-sm font-medium text-gray-700 mb-2"
    >Наявність меблів</label
    >
    <div class="flex gap-4">
        <label class="flex items-center gap-2 cursor-pointer">
            <div class="custom-checkbox">
                <input type="checkbox" name="furnished"/>
                <span class="checkmark"></span>
            </div>
            <span class="text-sm text-gray-800">Будь-які</span>
        </label>
        <label class="flex items-center gap-2 cursor-pointer">
            <div class="custom-checkbox">
                <input type="checkbox" name="furnished"/>
                <span class="checkmark"></span>
            </div>
            <span class="text-sm text-gray-800">З меблями</span>
        </label>
        <label class="flex items-center gap-2 cursor-pointer">
            <div class="custom-checkbox">
                <input type="checkbox" name="furnished"/>
                <span class="checkmark"></span>
            </div>
            <span class="text-sm text-gray-800">Без меблів</span>
        </label>
    </div>
</div>