
# macOS
.DS_Store

# Python
__pycache__/
*.pyc
.idea/
.vscode/
db.sqlite3
media/
static/base/
static/base/assets/img/1.jpg
static/base/assets/img/2.jpg
static/base/assets/img/3.jpg
static/base/assets/img/4.jpg
static/base/assets/img/5.jpg
static/base/assets/img/6.jpg
static/base/assets/img/7.jpg
static/base/assets/img/8.jpg
static/base/assets/video/

