asgiref==3.8.1
beautifulsoup4==4.12.3
certifi==2025.1.31
charset-normalizer==3.4.1
Django==5.1.5
django-leaflet==0.31.0
django-livereload-server==0.5.1
django-phonenumber-field==8.0.0
geographiclib==2.0
geopy==2.4.1
idna==3.10
phonenumbers==8.13.54
pillow==11.1.0
pydub==0.25.1
pytube==15.0.0
qrcode==8.0
requests==2.32.3
six==1.17.0
soupsieve==2.6
sqlparse==0.5.3
tornado==6.4.2
urllib3==2.3.0