<section style="background-color: #758F8E;" class="py-16">
    <div class="container mx-auto px-4">
        <div class="max-w-3xl mx-auto text-center">
            <h2 class="text-[28px] md:text-3xl font-ermilov text-primary mb-3">Про нас</h2>
            <p class="text-white mb-6 text-base md:text-xl font-fixel leading-relaxed">
                DOMINIUM — агенція нерухомості нового покоління. Ми поєднуємо
                інновації з людяністю, допомагаючи обрати ідеальне житло або
                простір для бізнесу.
            </p>
            {% comment %} <button
                    class="bg-primary font-ermilov text-white px-8 py-3 rounded-button hover:bg-opacity-90"
            >
                Докладніше
            </button> {% endcomment %}
        </div>
    </div>
</section>