<div class="grid grid-cols-1 md:grid-cols-3 gap-6">
    {% include "partials/search-panel/advanced-filters/_filter_floors.html" %}
    {% include "partials/search-panel/advanced-filters/_filter_year.html" %}
    {% include "partials/search-panel/advanced-filters/_filter_repair.html" %}
    {% include "partials/search-panel/advanced-filters/_filter_furniture.html" %}
    {% include "partials/search-panel/advanced-filters/_filter_balcony_loggia.html" %}
    {% include "partials/search-panel/advanced-filters/_filter_heating.html" %}
    {% include "partials/search-panel/advanced-filters/_filter_parking.html" %}
</div>

{% include "partials/search-panel/advanced-filters/_filter_collapse_button.html" %}
