<nav class="md:hidden fixed bottom-0 left-0 right-0 bg-white z-50">
  <div class="flex justify-around py-2">
    <a href="/" class="flex flex-col items-center text-deepOcean hover:text-coolSage">
      <i class="ri-home-5-line ri-lg text-deepOcean"></i>
      <span class="text-xs mt-1">Головна</span>
    </a>
    <a href="/search/" class="flex flex-col items-center text-deepOcean hover:text-coolSage">
      <i class="ri-search-line ri-lg text-deepOcean"></i>
      <span class="text-xs mt-1">Пошук</span>
    </a>
    <a href="/likes/" class="flex flex-col items-center text-deepOcean hover:text-coolSage">
      <i class="ri-heart-line ri-lg text-deepOcean"></i>
      <span class="text-xs mt-1">Обране</span>
    </a>
    {% comment %} <a href="/about/" class="flex flex-col items-center text-deepOcean hover:text-coolSage">
      <i class="ri-user-line ri-lg"></i>
      <span class="text-xs mt-1">Про нас</span>
    </a> {% endcomment %}
    
  </div>
</nav>
