<div class="flex justify-center mt-8">
    <nav class="inline-flex rounded-md shadow">
        <a
                href="#"
                class="py-2 px-3 border border-gray-300 bg-white text-gray-500 hover:bg-gray-50 rounded-l-md"
        >
            <span class="sr-only">Попередня</span>
            <div class="w-5 h-5 flex items-center justify-center">
                <i class="ri-arrow-left-s-line"></i>
            </div>
        </a>
        <a
                href="#"
                class="py-2 px-4 border-t border-b border-gray-300 bg-primary text-white"
        >1</a
        >
        <a
                href="#"
                class="py-2 px-4 border-t border-b border-gray-300 bg-white text-gray-700 hover:bg-gray-50"
        >2</a
        >
        <a
                href="#"
                class="py-2 px-4 border-t border-b border-gray-300 bg-white text-gray-700 hover:bg-gray-50"
        >3</a
        >
        <a
                href="#"
                class="py-2 px-4 border-t border-b border-gray-300 bg-white text-gray-700 hover:bg-gray-50"
        >4</a
        >
        <a
                href="#"
                class="py-2 px-3 border border-gray-300 bg-white text-gray-500 hover:bg-gray-50 rounded-r-md"
        >
            <span class="sr-only">Наступна</span>
            <div class="w-5 h-5 flex items-center justify-center">
                <i class="ri-arrow-right-s-line"></i>
            </div>
        </a>
    </nav>
</div>