<div class="bg-white rounded-[8px] shadow-lg overflow-hidden flex flex-col">
  <!-- Зображення + іконки -->
  <div class="relative h-56">
    {% if property.main_image %}
      <a href="{% url 'property_detail' property.slug %}"><img src="{{ property.main_image.image.url }}" class="w-full h-56 object-cover" alt="{{ property.title }}" /></a>
    {% else %}
      <a href="{% url 'property_detail' property.slug %}"><img src="https://via.placeholder.com/400x300" class="w-full h-48 object-cover" alt="Зображення відсутнє" /></a>
    {% endif %}

    <!-- Like / Share -->
    <div class="absolute top-3 right-3 flex gap-2 z-10">
      <button class="like-button w-8 h-8 flex items-center justify-center bg-white bg-opacity-80 rounded-full transition" data-property-id="{{ property.id }}">
        <i class="{% if property.id in liked_ids %}
            
            
            
            
            
            
            
            ri-heart-fill text-deepOcean







          {% else %}
            
            
            
            
            
            
            
            ri-heart-line text-coolSage







          {% endif %}">

        </i>
      </button>
      <button onclick="navigator.clipboard.writeText('{{ property.get_absolute_url }}'); alert('Посилання скопійовано!')" class="w-8 h-8 flex items-center justify-center bg-white bg-opacity-80 rounded-full hover:bg-opacity-100 transition"><i class="ri-share-forward-line text-coolSage"></i></button>
    </div>
  </div>

  <!-- Контент -->
  <div class="p-6 flex flex-col flex-grow group relative">
    <!-- Основна ціна -->
    <h3 class="text-xl font-ermilov text-primary transition duration-200">
      {% if property.deal_type.name == 'Оренда' %}
        {{ property.price|floatformat:0 }} ₴/міс
      {% else %}
        {{ property.price|floatformat:0 }} $
      {% endif %}
    </h3>

    <!-- Tooltip з конвертованою ціною -->
    <div class="currency-tooltip opacity-0 invisible group-hover:opacity-100 group-hover:visible absolute -top-11 left-7 bg-white shadow-xl rounded-[8px] px-4 py-2 transition-all duration-200 z-10 text-sm text-coolSage font-fixel">
      <div class="flex flex-col text-left">
        {% comment %} <span class="whitespace-nowrap">$ {{ property.price|floatformat:0|add:'0' }}</span> {% endcomment %}
        <span class="whitespace-nowrap">€ {{ property.price_eur }} EUR</span>
        <span class="whitespace-nowrap">₴ {{ property.price_uah }} UAH</span>
      </div>
      <div class="absolute -bottom-2 left-5 w-4 h-4 bg-white transform rotate-45 shadow-md"></div>
    </div>

    <p class="text-coolSage font-fixel">{{ property.address }}</p>

    <div class="flex items-center space-x-4 mt-3 text-gray-600">
      <span class="flex text-coolSage font-fixel items-center"><i class="ri-ruler-line mr-1"></i> {{ property.property_type.name }}</span>
      <span class="flex text-coolSage font-fixel items-center"><i class="ri-ruler-line mr-1"></i> {{ property.area }} м²</span>
      {% if property.rooms %}
        <span class="flex text-coolSage font-fixel items-center"><i class="ri-home-line mr-1"></i> {{ property.rooms }} кімнати</span>
      {% endif %}
    </div>

    <!-- Кнопка + тип угоди -->
    <div class="mt-auto pt-4 flex items-center gap-x-3">
      {% if property.slug %}
        <a href="{% url 'property_detail' property.slug %}" class="bg-white text-deepOcean font-fixel text-sm px-4 py-2 rounded-full h-10 shadow-[inset_0_0_0_1px] shadow-deepOcean flex items-center justify-center">Докладніше</a>
      {% endif %}

      <span class="text-white px-8 border border-coolSage py-2 rounded-full text-sm h-10
        {% if property.deal_type.name|lower == 'оренда' %}
          
          
          
          
          
          
          
          
          bg-creamBeige font-fixel








        {% elif property.deal_type.name|lower == 'продаж' %}
          
          
          
          
          
          
          
          
          bg-coolSage font-fixel








        {% else %}
          
          
          
          
          
          
          
          
          bg-red-200








        {% endif %}">
        {{ property.deal_type.name }}
      </span>
    </div>
  </div>
</div>
