:root {
  --default-font: "Century Gothic", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  --heading-font: "Raleway", sans-serif;
  --nav-font: "Poppins", sans-serif;
}

/* Підключення шрифта */

/* Global Colors - The following color variables are used throughout the website. Updating them here will change the color scheme of the entire website */

:root {
  --background-color: #ffffff;
  --default-color: #ffffff;
  --heading-color: #ffffff;
  --accent-color: #ec0606;
  --surface-color: #ffffff;
  --contrast-color: #ffffff;
}

/* Nav Menu Colors - The following color variables are used specifically for the navigation menu. They are separate from the global colors to allow for more customization options */

:root {
  --nav-color: rgba(255, 255, 255, 0.5);
  --nav-hover-color: #ffffff;
  --nav-mobile-background-color: #ffffff;
  --nav-dropdown-background-color: #ffffff;
  --nav-dropdown-color: #ffffff;
  --nav-dropdown-hover-color: #ec0606;
}

/* Color Presets - These classes override global colors when applied to any section or element, providing reuse of the sam color scheme. */

@media (max-width: 1200px) {
  .logo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
  }
}

/* Логотип */

.logo-img {
  width: auto;
  height: 80px;
  max-width: 100%;
  transition: transform 0.3s ease;
  position: static;
  z-index: 2;
}

/* Десктопна версія (від 1024px і більше) */

@media (min-width: 800px) {
  .logo-img {
    height: 73px;
    color: rgb(3,3,215);
    margin-left: 28px;
  }
}

/* Збільшення лого при ховері */

.logo img:hover {
  transform: scale(1.20);
}

.transparent-background {
  --background-color: rgba(255, 255, 255, 0);
  --surface-color: rgba(255, 255, 255, 0.1);
}

/* Smooth scroll */

:root {
  scroll-behavior: smooth;
}

/* --------------------------------------------------------------
# General Styling & Shared Classes
-------------------------------------------------------------- */

.content {
  margin: 0 auto;
  max-width: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  color: var(--default-color);
  font-family: var(--default-font);
  background: #133e44;
  min-height: 100%;
  margin: 0;
  position: relative;
  padding-bottom: 100px;
}

/* !* Контейнер для відео *! */

/* .video-container { */

/* position: fixed; */

/* top: 0; */

/* left: 0; */

/* width: 100%; */

/* height: 100%; */

/* overflow: hidden; */

/* z-index: -1; !* Відправляємо відео на задній план *! */

/* } */

/* !* Відео займає всю область *! */

/* .video-container video { */

/* width: 100%; */

/* height: 100%; */

/* object-fit: cover; !* Заповнює екран без спотворення *! */

/* } */

/* !* Темне затемнення (необов’язково) *! */

/* .video-container::after { */

/* content: ""; */

/* position: absolute; */

/* top: 0; */

/* left: 0; */

/* width: 100%; */

/* height: 100%; */

/* background: rgba(0, 0, 0, 0.3); !* Затемнення *! */

/* } */

body::before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(34, 34, 34, 0.8);
}

@media (max-width: 728px) {
  body {
    background-attachment: fixed;
  }
}

@media (max-width: 728px) {
  .content {
    max-width: 90%;
  }
}

a {
  color: var(--accent-color);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: color-mix(in srgb, var(--accent-color), transparent 25%);
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--heading-color);
  font-family: var(--heading-font);
}

/* PHP Email Form Messages
------------------------------ */

.php-email-form .error-message {
  display: none;
  background: #df1529;
  color: #ffffff;
  text-align: left;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}

.php-email-form .sent-message {
  display: none;
  color: #ffffff;
  background: #059652;
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}

.php-email-form .loading {
  display: none;
  background: var(--surface-color);
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
}

.php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid var(--accent-color);
  border-top-color: var(--surface-color);
  animation: php-email-form-loading 1s linear infinite;
}

/* --------------------------------------------------------------
# Global Header
-------------------------------------------------------------- */

.header {
  --background-color: rgba(255, 255, 255, 0);
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 15px 0;
  transition: all 0.5s;
  z-index: 997;
}

.header .logo {
  line-height: 1;
}

.header .logo img {
  max-height: none;
  height: 73px;
  padding-top: 2px;
  margin-top: -1px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: -2px;
  padding-bottom: 0px;
}

/* --------------------------------------------------------------
# Navigation Menu
-------------------------------------------------------------- */

/* Desktop Navigation */

@media (min-width: 1200px) {
  .navmenu {
    padding: 0;
  }
}

@media (min-width: 1200px) {
  .navmenu ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }
}

@media (min-width: 1200px) {
  .navmenu li {
    position: relative;
  }
}

@media (min-width: 1200px) {
  .navmenu > ul > li {
    white-space: nowrap;
    padding: 15px 14px;
  }
}

@media (min-width: 1200px) {
  .navmenu > ul > li:last-child {
    padding-right: 0;
  }
}

@media (min-width: 1200px) {
  .navmenu a, .navmenu a:focus {
    color: var(--nav-color);
    font-size: 15px;
    padding: 0 2px;
    font-family: var(--nav-font);
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
  }
}

@media (min-width: 1200px) {
  .navmenu > ul > li > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -6px;
    left: 0;
    background-color: var(--accent-color);
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
  }
}

@media (min-width: 1200px) {
  .navmenu a:hover:before, .navmenu li:hover > a:before, .navmenu .active:before {
    visibility: visible;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .navmenu li:hover > a, .navmenu .active, .navmenu .active:focus {
    color: var(--nav-hover-color);
  }
}

/* Mobile Navigation */

@media (max-width: 1199px) {
  .mobile-nav-toggle {
    color: var(--nav-color);
    font-size: 28px;
    line-height: 0;
    margin-right: 10px;
    cursor: pointer;
    transition: color 0.3s;
  }
}

@media (max-width: 1199px) {
  .navmenu {
    padding: 0;
    z-index: 9997;
  }
}

@media (max-width: 1199px) {
  .navmenu ul {
    display: none;
    list-style: none;
    position: absolute;
    inset: 60px 20px 20px 20px;
    padding: 10px 0;
    margin: 0;
    border-radius: 6px;
    background-color: var(--nav-mobile-background-color);
    border: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
    box-shadow: none;
    overflow-y: auto;
    transition: 0.3s;
    z-index: 9998;
  }
}

@media (max-width: 1199px) {
  .navmenu a, .navmenu a:focus {
    color: var(--nav-dropdown-color);
    padding: 10px 20px;
    font-family: var(--nav-font);
    font-size: 17px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    transition: 0.3s;
  }
}

@media (max-width: 1199px) {
  .navmenu a:hover, .navmenu .active, .navmenu .active:focus {
    color: var(--nav-dropdown-hover-color);
  }
}

/* --------------------------------------------------------------
# Global Footer
-------------------------------------------------------------- */

/* --------------------------------------------------------------
# Preloader
-------------------------------------------------------------- */

/* --------------------------------------------------------------
# Disable aos animation delay on mobile devices
-------------------------------------------------------------- */

/* --------------------------------------------------------------
# Global Page Titles & Breadcrumbs
-------------------------------------------------------------- */

/* --------------------------------------------------------------
# Global Sections
-------------------------------------------------------------- */

section, .section {
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 60px 0;
  scroll-margin-top: 90px;
  overflow: clip;
  position: relative;
}

@media (max-width: 1199px) {
  section, .section {
    scroll-margin-top: 66px;
  }
}

/* --------------------------------------------------------------
# Global Section Titles
-------------------------------------------------------------- */

.section-title {
  text-align: center;
  padding-bottom: 60px;
  position: relative;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 15px;
}

.section-title p {
  margin-bottom: 0;
}

/* --------------------------------------------------------------
# Hero Section
-------------------------------------------------------------- */

.hero {
  width: 100%;
  position: relative;
  padding: 80px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero p {
  font-size: 24px;
  color: var(--heading-color);
  margin: 10px 0 0 0;
}

@media (max-width: 768px) {
  .hero p {
    font-size: 18px;
  }
}

:root {
  --accent-color: #164710;
  --contrast-color: white;
}

.hero .social-links {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero .social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-size: 24px;
  color: color-mix(in srgb, var(--default-color), transparent 50%);
  margin-right: 10px;
  transition: 0.3s;
}

.hero .social-links a:hover {
  color: var(--default-color);
}

/* --------------------------------------------------------------
# About Section
-------------------------------------------------------------- */

.about ul {
  list-style: none;
  padding: 0;
}

.about ul li {
  padding-bottom: 5px;
  display: flex;
  align-items: center;
}

.about ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #df1529;
}

/* --------------------------------------------------------------
# Contact Section
-------------------------------------------------------------- */

.contact .info-item {
  background: color-mix(in srgb, var(--default-color), transparent 96%);
  padding: 20px;
  border-radius: 10%;
}

.contact .info-item i {
  line-height: 0;
  color: antiquewhite;
}

.contact .info-item p {
  padding: 0;
  line-height: 24px;
  margin-bottom: 0;
}

.contact .php-email-form {
  background: color-mix(in srgb, var(--default-color), transparent 96%);
  height: 100%;
  padding: 15px;
  font-family: "Century Gothic";
  border-style: none;
}

.contact .php-email-form input[type=text], .contact .php-email-form input[type=tel], .contact .php-email-form textarea {
  font-size: 14px;
  padding: 10px 15px;
  box-shadow: none;
  border-radius: 0;
  color: var(--default-color);
  background-color: var(--surface-color);
  border-color: color-mix(in srgb, var(--default-color), transparent 80%);
}

.contact .php-email-form input[type=text]:focus, .contact .php-email-form input[type=tel]:focus, .contact .php-email-form textarea:focus {
  border-color: var(--accent-color);
}

.contact .php-email-form button[type=submit] {
  background: var(--accent-color);
  color: var(--contrast-color);
  border: 0;
  padding: 10px 30px;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .php-email-form button[type=submit]:hover {
  background: color-mix(in srgb, var(--accent-color), transparent 20%);
}

/* Call-button */

.call-button {
  position: fixed;
  bottom: 15px;
  right: 15px;
  background-color: rgba(76, 175, 80, 0.5);
  color: white;
  padding: 15px 30px;
  border-radius: 100px;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.call-button:hover {
  background-color: #45a049;
}

/* Загальні стилі для розділу послуг */

.services {
  padding: 60px 0;
  background-color: color-mix(in srgb, var(--default-color), transparent 96%);
}

.section-title {
  margin-bottom: 40px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 700;
  color: #ffffff;
}

.section-title p {
  font-size: 16px;
  color: #ffffff;
}

.service-item {
  background-color: rgba(52, 72, 60, 0.3);
  padding: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  text-align: center;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  height: 180px;
}

.service-item h3 {
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 20px;
}

.service-item ul {
  list-style: none;
  padding: 0;
  weight: 80px;
  color: #ffffff;
}

.service-item ul li {
  font-size: 16px;
  margin-bottom: 10px;
}

.service-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  border-radius: 50%;
}

/* Для мобільних */

@media (max-width: 767px) {
  .service-item {
    padding: 20px;
  }
}

@media (max-width: 767px) {
  .section-title h2 {
    font-size: 28px;
  }
}

@media (max-width: 767px) {
  .service-item h3 {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .service-item ul li {
    font-size: 14px;
  }
}

/* Акція для Власників */

.promotion-section {
  display: flex;
  gap: 20px;
  background-color: color-mix(in srgb, var(--default-color), transparent 100%);
  max-width: 1000px;
  margin: 0 auto;
}

/* Ліва колонка (заголовки) */

.promotion-sidebar {
  flex: 1;
  max-width: 250px;
  font-family: 'Tinos', sans-serif;
}

.service-title {
  cursor: pointer;
  padding: 10px;
  border-bottom: 4px solid transparent;
  transition: 0.3s ease-in-out;
  font-family: 'Tinos', sans-serif;
}

.service-title:hover {
  border-bottom: 4px solid rgb(210,105,30);
}

/* Блок карток (контент праворуч) */

.promotion-details {
  flex: 2;
  min-height: 325px;
  max-width: 80%;
  padding: 20px;
  position: relative;
  overflow: hidden;
  font-family: 'Century Gothic', sans-serif;
}

/* Контейнер для карток */

.service-cards {
  position: relative;
  width: 100%;
  height: 100%;
}

/* Окрема картка */

.service-card {
  position: absolute;
  width: 100%;
  border-radius: 8px;
  text-align: left;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  font-size: 1.2rem;
  font-family: 'Tinos', sans-serif;
}

/* Активна картка */

.service-card.active {
  opacity: 1;
  transform: translateY(0);
}

@media screen and (max-width: 768px) {
  .promotion-section {
    flex-direction: column;
    align-items: flex-end;
    margin: 0 auto;
    width: 100%;
  }
}

/* Ліва колонка */

@media screen and (max-width: 768px) {
  .promotion-sidebar {
    width: 100%;
    order: 0;
    padding: 10px;
    text-align: right;
    color: var(--accent-color);
    transform: perspective(0px);
  }
}

/* Заголовки як випадаюче меню */

@media screen and (max-width: 768px) {
  .service-title {
    display: block;
    background-color: color-mix(in srgb, var(--default-color));
    padding: 10px;
    cursor: pointer;
  }
}

/* Контейнер для карток */

@media screen and (max-width: 768px) {
  .promotion-details {
    max-width: 100%;
    width: 100%;
    min-height: 300px;
    padding: 20px;
  }
}

@media screen and (max-width: 768px) {
  .service-cards {
    width: 100%;
    min-height: 300px;
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  .service-card {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
}

@media screen and (max-width: 768px) {
  .service-card.active {
    max-height: 500px;
    opacity: 1;
  }
}

.centered-text {
  text-align: center;
  color: yellow;
  font-size: 50px;
}

a {
  color: rgba(223,142,68,0.36);
  text-decoration: none;
}

a:hover {
  color: wheat;
}

a:active {
  color: rgba(34,34,34,0.8);
}

a:visited {
  color: gray;
}

@media (max-width: 768px) {
  .people-img {
    width: 173px;
    margin-right: 228px;
    position: absolute;
    margin-top: 149px;
    z-index: 9999;
  }
}

.oberit-zagolovok {
  color: var(--background-color);
  font-size: 14px;
  background: rgba(223,142,68,0.36);
  border-radius: 16px;
  margin-top: 6px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-top: 9px;
  margin-left: 37px;
  padding-right: 113px;
  margin-right: 1058px;
}

@media (max-width: 768px) {
  .oberit-zagolovok {
    padding-right: 0px;
    padding-top: 15px;
    padding-left: 10px;
    margin-left: 20px;
    padding-bottom: 16px;
    margin-right: 151px;
  }
}

@media (min-width: 768px) {
  .people-img {
    display: none;
  }
}


