<!-- Площа -->
<div>
    <label class="{{ label_class|default:'block text-sm font-medium text-gray-700 mb-1' }}">
        Площа, м²
    </label>
    <div class="flex items-center gap-2">
        <div class="w-full">
            <input
                    name="area_min"
                    type="number"
                    value="{{ request.GET.area_min|default:'' }}"
                    class="w-full py-2 px-3 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-primary focus:border-transparent text-sm"
                    placeholder="Від"
            />
        </div>
        <div class="w-full">
            <input
                    name="area_max"
                    type="number"
                    value="{{ request.GET.area_max|default:'' }}"
                    class="w-full py-2 px-3 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-primary focus:border-transparent text-sm"
                    placeholder="До"
            />
        </div>

    </div>
</div>
