<!-- Ціна -->
<div>
    <label class="{{ label_class|default:'block text-sm font-medium text-creamBeige mb-1' }}">
        Ціна, $(долар)
    </label>
    <div class="flex items-center gap-2">
        <div class="w-full">
            <input
                    name="price_min"
                    type="number"
                    value="{{ request.GET.price_min|default:'' }}"
                    class="w-full py-3 px-3 bg-coolSage rounded focus:outline-none focus:ring-2 focus:ring-primary focus:border-transparent text-sm placeholder:text-white"
                    placeholder="Від"
            />
        </div>
        <div class="w-full">
            <input
                    name="price_max"
                    type="number"
                    value="{{ request.GET.price_max|default:'' }}"
                    class="w-full py-3 px-3 bg-coolSage  rounded focus:outline-none focus:ring-2 focus:ring-primary focus:border-transparent text-sm placeholder:text-white"
                    placeholder="До"
            />
        </div>
    </div>
</div>