<!-- Тип нерухомості -->
<div class="relative">
    <label class="{{ label_class|default:'block text-sm font-medium text-creamBeige mb-1' }}">Тип нерухомості</label>
    <div class="relative">
        <div id="property-type-dropdown" class="relative">
            <button
                    id="property-type-btn"
                    type="button"
                    class="w-full pr-8 py-3 bg-coolSage rounded focus:outline-none focus:ring-2 focus:ring-primary focus:border-transparent text-sm text-left flex justify-between items-center"
            >
                <span class="   text-white" id="property-type-selected">Обрати типи нерухомості</span>
                <div class="w-4 h-4 flex items-center justify-center text-gray-500">
                    <i class="ri-arrow-down-s-line"></i>
                </div>
            </button>
            <div
                    id="property-type-options"
                    class="absolute z-20 mt-1 w-full bg-white border border-gray-300 rounded shadow-lg hidden"
            >
                <div class="p-2">
                    {% with request.GET.property_type as selected_types %}
                    {% for pt in property_types %}
                    <div class="mb-2">
                        <label class="flex items-center cursor-pointer p-2 hover:bg-gray-50 rounded">
                            <div class="custom-checkbox">
                                <input
                                        type="checkbox"
                                        name="property_type"
                                        value="{{ pt.slug }}"
                                        class="property-type-option"
                                        {% if selected_types and pt.slug in selected_types %}checked{% endif %}
                                />
                                <span class="checkmark"></span>
                            </div>
                            <span>{{ pt.name }}</span>
                        </label>
                    </div>
                    {% endfor %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>
</div>
