.filter-button {
    background: #e5dcc5;
    color: #2a2a2a;
    display: flex;
    align-items: center;
}

.filter-button i {
    margin-right: 5px;
}

.filter-button:hover {
    background: #d4c3a7;
    transform: scale(1.05);
}

.filter-dropdown {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 15px;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease-in-out;
}

.filter-dropdown.active {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.filter-dropdown label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.custom-dropdown {
    position: relative;
}

.custom-dropdown select {
    appearance: none;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background: white;
    cursor: pointer;
}

.custom-dropdown::after {
    content: '\25BC';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}

.filter-dropdown input {
    width: calc(50% - 5px);
    display: inline-block;
    margin-right: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}