<!DOCTYPE html>
<html lang="uk">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Dominium</title>
    <meta name="description" content="Продаєш? Купуєш? Орендуєш? Звертайся в dominium">
    <meta name="" content="">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Angkor&amp;display=swap">
    <link rel="stylesheet" href="{% static 'assets/css/Century%20Gothic.css' %}">
<!--    <link rel="stylesheet" href="/static/assets/css/CenturyGothic.css"  #для хостингу-->
    <link rel="stylesheet" href="{% static 'assets/css/aos.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
</head>

<body class="index-page"><span></span><title>Dominium</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
<span></span><title>Dominium</title>
<link href="{% static 'assets/img/favicon.png' %}" rel="icon">
<link href="https://fonts.googleapis.com" rel="preconnect">
<link href="https://fonts.gstatic.com" rel="preconnect">
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&amp;display=swap"
      rel="stylesheet">
<link href="{% static '/assets/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
<link href="{% static '/assets/vendor/aos/aos.css' %}" rel="stylesheet">
<nav class="navbar navbar-light navbar-expand-md" style="padding-bottom: 0px;margin-top: 0px;padding-top: 23px;border-style: none;">
    <div class="container-fluid">
        <button data-bs-toggle="collapse" data-bs-target="#navcol-1" class="navbar-toggler font-monospace d-md-none"
                style="margin-left: 0px;margin-top: 7px;margin-bottom: 11px;padding-top: 7px;padding-bottom: 7px;padding-left: 10px;padding-right: 10px;color: rgb(105,131,126);width: 63px;height: 55px;background: rgba(105,131,126,0.26);border-radius: 18px;border-style: none;border-color: rgb(105,131,126);">
            <span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"
                                                                        style="border-style: none;color: rgb(105,131,126);font-size: 22px;text-align: right;"></span>
        </button>
        <a class="d-flex justify-content-center align-items-center logo" href="#" style="margin-top: -12px;"><img
                data-aos="zoom-out" src="{% static 'assets/img/Logowhite.png' %}" alt="Logo" class="logo-img ms-xxl-0"
                width="265"
                height="80"></a>
        <div class="collapse navbar-collapse justify-content-md-end" id="navcol-1" style="color: rgb(160,137,113); ">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link active" href="#poslugi" style="color: #69837e; border-style: none;font-family: 'Century Gothic'">Наші послуги</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="#proposion"
                                        style="color: #69837e;border-style: none;font-family: 'Century Gothic';">ПРОПОЗИЦІЯ ДЛЯ
                    ВЛАСНИКІВ</a></li>
                <li class="nav-item"><a class="nav-link" href="#contact" style="color: #69837e;border-style: none; font-family: 'Century Gothic'">Контакти</a></li>
            </ul>
        </div>
    </div>
</nav>
<header class="d-flex align-items-center header px-3" id="header">
    <div class="container-fluid d-flex justify-content-between align-items-center position-relative">
        <nav class="d-none navmenu" data-aos="slide-left" id="navmenu">
            <ul>
                <li><a href="#hero" class="nav-item active">Home</a></li>
                <li><a href="#about" class="nav-item active">About</a></li>
                <li><a href="#contact" class="nav-item active">Contact</a></li>
            </ul>
            <i class="d-xl-none mobile-nav-toggle bi bi-list"></i>
        </nav>
    </div>
</header>
<a class="call-button" href="tel:+380770032121" style="background: rgba(105,131,126,0.76);"><i
        class="bi bi-telephone-fill"></i></a>
<main class="main">
    <section id="hero" class="hero section transparent-background" style="padding-top: 23px;padding-bottom: 0px;">
        <div class="container text-center" data-aos="fade-up" data-aos-delay="100">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-xl-8">
                    <h3 class="text-uppercase"
                        style="font-family: 'Century Gothic';padding-bottom: 0px;margin-bottom: 0px;"> Усі види
                        нерухомості в одному місці!</h3>
                    <p class="text-lowercase fs-5 pt-xxl-0 mt-xxl-5 pb-xxl-4 mb-xxl-4"
                       style="font-family: 'Century Gothic';margin-bottom: 2px;margin-top: 25px;"> ПРОДАЄШ? КУПУЄШ?
                        ОРЕНДУЄШ?</p>
                </div>
                <div class="social-links">
                    <a href="#"><i class="bi bi-facebook"></i></a>
                    <a href="#"><i class="bi bi-instagram"></i></a>
                    <a href="#"><i class="bi bi-tiktok"></i></a>
                </div>
            </div>
        </div>
    </section>
    <section id="about" class="about section transparent-background" style="padding-bottom: 0px;">
        <div class="container">
            <div class="row gy-4" style="font-family: Angkor, serif;">
                <div class="col-lg-6 col-xxl-7 content" data-aos="fade-up" data-aos-delay="100">
                    <p style="font-family: 'Century Gothic';"> Dominium – це сучасна агенція нерухомості, яка робить
                        процес купівлі, продажу та оренди простим, безпечним і вигідним. Ми не просто допомагаємо
                        оформити угоду – ми супроводжуємо вас на кожному етапі, забезпечуючи: </p>
                    <ul>
                        <li style="font-family: 'Century Gothic';"><i class="bi bi-check2-circle"
                                                                      style="color: rgb(202,169,136);"></i><span>Юридичний захист</span>
                        </li>
                        <li style="font-family: 'Century Gothic';"><i class="bi bi-check2-circle"
                                                                      style="color: rgb(184,155,124);"></i><span>Перевірені обʼєкти</span>
                        </li>
                        <li style="font-family: 'Century Gothic';"><i class="bi bi-check2-circle"
                                                                      style="color: rgb(184,155,124);"></i><span>Індивідуальний підхід</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="poslugi" class="services section transparent-background"
             style="padding-top: 35px;padding-bottom: 27px;">
        <div class="container">
            <div class="text-center section-title" data-aos="fade-up" data-aos-delay="100"
                 style="padding-bottom: 24px;margin-bottom: 29px;">
                <h2>Що ми пропонуємо?</h2>
                <p>Ми надаємо повний спектр послуг у сфері нерухомості, щоб ви могли приймати правильні рішення з
                    нами.</p>
            </div>
            <div id="servicesCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="service-item"
                             style="margin-bottom: -1px;padding-bottom: 4px;background: rgba(105,131,126,0.3);padding-top: 0px;">
                            <h3 style="padding-top: 12px;">Продаж нерухомості</h3>
                            <ul>
                                <li style="margin-bottom: 4px;">Професійний маркетинг</li>
                                <li style="margin-bottom: 4px;">Пошук покупців</li>
                                <li style="margin-bottom: 4px;">Ведення переговорів</li>
                                <li style="margin-bottom: 4px;">Повний юридичний супровід угоди</li>
                            </ul>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="service-item" style="background: rgba(105,131,126,0.3);">
                            <h3>Купівля нерухомості</h3>
                            <ul>
                                <li>Підбір об’єкта за вашими критеріями</li>
                                <li>Перевірка документів</li>
                                <li>Безпечне оформлення угоди</li>
                            </ul>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="service-item" style="background: rgba(105,131,126,0.3);">
                            <h3>Оренда житлової та комерційної нерухомості</h3>
                            <ul>
                                <li>Допоможемо знайти ідеальний варіант</li>
                                <li>Укладання договору на вигідних умовах</li>
                            </ul>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="service-item" style="background: rgba(105,131,126,0.3);">
                            <h3>Консультації з інвестицій</h3>
                            <ul>
                                <li>Аналіз ринку</li>
                                <li>Рекомендації щодо вигідних вкладень</li>
                                <li>Оцінка перспективності об’єктів</li>
                            </ul>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="service-item" style="background: rgba(105,131,126,0.3);">
                            <h3>Юридичний супровід угод</h3>
                            <ul>
                                <li>Перевірка об’єкта</li>
                                <li>Підготовка документів</li>
                                <li>Організація роботи нотаріуса</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#servicesCarousel"
                        data-bs-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span><span
                        class="visually-hidden">Попередній</span></button>
                <button class="carousel-control-next" type="button" data-bs-target="#servicesCarousel"
                        data-bs-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span><span
                        class="visually-hidden">Наступний</span></button>
            </div>
        </div>
    </section>
    <section
            style="color: rgba(31,39,41,0);font-size: 21px;font-family: 'Century Gothic';background: rgba(31,39,41,0);margin-bottom: -60px;">
        <h1 id="proposion"
            style="text-align: center;color: #df8e44;font-family: 'Century Gothic';font-size: 30.64px;padding-left: 0px;margin-left: 11px;padding-bottom: 0px;margin-bottom: 62px;border-color: #df8e44;margin-top: 40px;">
            ЕКСКЛЮЗИВНА ПРОПОЗИЦІЯ<br>ДЛЯ ВЛАСНИКІВ НЕРУХОМОСТІ </h1>
        <p class="oberit-zagolovok" style="padding-left: 16px;">Оберіть заголовок,<br>щоб дізнатись<br>про послугу
            детальніше</p>
    </section>
    <section class="promotion-section" style="margin-top: -2px;padding-top: 21px;"><img class="people-img"
                                                                                        src="{% static 'assets/img/Peoplesymbol11.png' %}">
        <div class="promotion-sidebar">
            <h3 class="service-title" data-target="Що ви отримуєте при підписанні ексклюзивного договору?"
                style="font-family: 'Century Gothic';font-size: 20px;margin-top: 20px;margin-right: 0px;"> Що ви
                отримуєте при підписанні ексклюзивного договору? </h3>
            <h3 class="service-title" data-target="Потужне рекламне просування"
                style="font-family: 'Century Gothic';font-size: 20px;margin-top: 20px;margin-right: 0px;"> Потужне
                рекламне просування </h3>
            <h3 class="service-title" data-target="Продаж без зайвого клопоту"
                style="font-family: 'Century Gothic';font-size: 20px;margin-top: 20px;margin-right: 0px;"> Продаж без
                зайвого клопоту </h3>
        </div>
        <div class="promotion-details" style="margin-bottom: -154px;padding-bottom: 0px;">
            <div class="service-cards">
                <div class="service-card active" id="default-card" style="font-family: 'Century Gothic';"></div>
                <div class="service-card" id="Що ви отримуєте при підписанні ексклюзивного договору?"
                     style="font-family: 'Century Gothic';">
                    <ul>
                        <li>Повна юридична підтримка та підготовка документів – за наш рахунок!</li>
                        <li>Ми підготуємо весь пакет документів для продажу, необхідний нотаріусу</li>
                        <li>Перевіримо юридичну чистоту вашої нерухомості</li>
                        <li>Організуємо роботу нотаріуса та оплатимо всі його послуги</li>
                        <li>Супроводимо вас на всіх етапах угоди</li>
                        <li>Ви не витрачаєте жодної гривні на оформлення продажу – ми беремо всі витрати на себе!</li>
                    </ul>
                </div>
                <div class="service-card" id="Потужне рекламне просування" style="font-family: 'Century Gothic';">
                    <ul>
                        <li>Розміщення оголошень на 40+ топових рекламних майданчиках</li>
                        <li>Професійна фотозйомка та підготовка презентації об’єкта</li>
                        <li>Просування в соцмережах, на спеціалізованих платформах та серед перевірених покупців</li>
                        <li>Відеотур або 3D-тур для залучення ще більшої кількості клієнтів</li>
                    </ul>
                </div>
                <div class="service-card" id="Продаж без зайвого клопоту" style="font-family: 'Century Gothic';">
                    <ul>
                        <li>Організація та проведення переглядів з потенційними покупцями</li>
                        <li>Ведення переговорів для отримання найкращої ціни</li>
                        <li>Супровід угоди до моменту повного завершення продажу</li>
                    </ul>
                </div>
            </div>
            <div class="promotion-footer" style="font-family: 'Century Gothic';color: rgb(31,39,41);">
                <p>Ми беремо на себе всі витрати, пов’язані з підготовкою документів та роботою нотаріуса!</p>
                <p>Жодних прихованих платежів – лише ефективний продаж вашої нерухомості!</p>
                <p style="color: var(--contrast-color);font-family: 'Century Gothic';font-size: 18px;padding-top: 104px;padding-left: 13px;padding-right: 10px;">
                    <span style="text-decoration: underline;background-color: rgba(136, 83, 61, 0);">Головна перевага акції:</span><br>-
                    Ми беремо на себе всі витрати, повʼязані з підготовкою документів та роботою нотаріуса!<br>- Жодних
                    прихованих платежів - лише ефективний продаж вашої нерухомості!<br>-&nbsp; Dominium - працюємо
                    чесно, прозоро та результативно!<br>- Залиште заявку прямо зараз, і ми зʼяжемось з Вами для
                    консультації!</p>
                <div></div>
                <p>Dominium – працюємо чесно, прозоро та результативно!</p>
                <p>Залиште заявку прямо зараз, і ми зв’яжемося з вами для консультації!</p>
            </div>
        </div>
    </section>
    <section id="contact" class="contact section transparent-background" style="p\dding-top: 0px;padding-bottom: 26px;">
        <div class="container section-title" data-aos="fade-right">
            <h1 style="margin-top: 0px;padding-top: 0px;font-size: 42.64px;">Контакти</h1>
            <p></p>
        </div>
        <div class="container" data-aos="fade-right" data-aos-delay="100">
            <div class="row gy-4">
                <div class="col-lg-6">
                    <div class="row gy-4" style="padding-top: 0px;margin-top: -89px;">
                        <div class="col-md-6" style="font-family: 'Century Gothic';">
                            <div data-aos="fade-right" data-aos-delay="200" class="info-item"
                                 style="margin-bottom: -11px;margin-right: 18px;margin-left: 20px;background: rgba(105,131,126,0.3);border-radius: 16px;">
                                <i class="bi bi-geo-alt" style="font-size: 20px;"></i>
                                <p style="font-size: 16px;margin-top: 13px;"><a
                                        href="https://www.google.com/maps?q=м.Хуст, Україна, вул.Корятовича, 10">м.
                                    Хуст, Україна вул. Корятовича, 10, 2 поверх&nbsp;</a></p>
                            </div>
                        </div>
                        <div class="col-md-6 offset-xl-0" style="padding-right: 0px;">
                            <div data-aos="fade-right" data-aos-delay="200" class="info-item"
                                 style="font-family: 'Century Gothic';margin-bottom: -11px;margin-right: 29px;margin-left: 20px;background: rgba(105,131,126,0.3);border-radius: 16px;">
                                <i class="bi bi-telephone" style="font-size: 20px;color: rgb(231,224,206);"></i>
                                <p class="fs-4 phone"
                                   style="font-family: 'Century Gothic';padding-top: 0px;margin-top: 13px;"><a href="tel:+380770032121"
                                        style="font-size: 16px;">+380 (77) 003-21-21</a></p>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-6 col-xxl-7">
                            <div data-aos="fade-right" data-aos-delay="300" class="info-item"
                                 style="margin-bottom: -11px;margin-right: 18px;margin-left: 20px;background: rgba(105,131,126,0.3);border-radius: 16px;">
                                <i class="bi bi-envelope" style="font-size: 20px;color: rgb(231,224,206);"></i>
                                <p style="padding-bottom: 0px;font-size: 15px;margin-top: 13px;"><a
                                        href="mailto:dominium.realty.agency@gmail.com">dominium.realty.agency@gmail.com</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 offset-xl-0">
                    <h1 style="font-family: 'Century Gothic';margin-right: -8px;padding-left: 13px;padding-bottom: 0px;padding-right: 14px;margin-left: -1px;">
                        Залиште заявку на консультацію</h1>
                    <p class="text-break"
                       style="margin-top: 8px;padding-top: 22px;font-family: 'Century Gothic';margin-right: -8px;padding-left: 13px;padding-bottom: 0px;padding-right: 14px;margin-left: -1px;">
                        Хочете знайти ідеальну нерухомість або отримати поради щодо продажу? Заповніть форму, і ми
                        швидко зв'яжемося з вами для детальної консультації.</p>
                    <form data-aos="fade-right" data-aos-delay="350" action="#" method="post" class="php-email-form"
                          style="margin-left: 2px;margin-top: 45px;padding-top: 1px;padding-bottom: 114px;margin-bottom: -73px;padding-left: 27px;padding-right: 27px;">
                        <div class="row gy-4"
                             style="border-radius: 20px;margin-top: -2px;margin-left: -25px;margin-right: -11px;padding-right: 15px;">
                            <div class="col-md-6"><input class="form-control form-control form-control form-control"
                                                         type="text" name="name" placeholder="Імʼя" required=""
                                                         style="font-family: 'Century Gothic';"></div>
                            <div class="col-md-6"><input class="form-control form-control form-control form-control"
                                                         type="tel" name="phone" placeholder="Телефон" required=""
                                                         pattern="^\+?\d{10,15}$"
                                                         title="Введіть коректний номер телефону"
                                                         style="font-family: 'Century Gothic';"></div>
                            <div class="col-12"><input class="form-control form-control form-control form-control"
                                                       type="text" name="subject" placeholder="Тема звернення"
                                                       required="" style="font-family: 'Century Gothic';"></div>
                            <div class="col-12"><textarea class="form-control form-control form-control form-control"
                                                          name="message" rows="6" placeholder="Повідомлення" required=""
                                                          style="margin-bottom: 38px;padding-bottom: 25px;font-family: 'Century Gothic';"></textarea>
                            </div>
                            <div class="col-12 text-center">
                                <div class="loading"><span>Loading</span></div>
                                <div class="error-message"></div>
                                <div class="sent-message"><span>Ваше повідомлення направлено на розгляд</span></div>
                                <button type="submit"
                                        style="font-family: &quot;Century Gothic&quot;;border-color: var(--contrast-color);background: #69837e;border-radius: 14px;">
                                    Відправити повідомлення
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

                <div id="modal-1" class="modal fade" role="dialog" tabindex="-1"
                     style="padding-bottom: 92px;padding-top: 18px;padding-left: 14px;padding-right: 16px;">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title"><span
                                        style="color: rgb(169, 183, 198); background-color: rgba(43, 43, 43, 0);">Форма успішно відправлена!</span>
                                </h3>
                            </div>
                            <div class="modal-body">
                                <p><span style="color: rgb(169, 183, 198); background-color: rgba(43, 43, 43, 0);">Ваше повідомлення направлено на розгляд. Ми зв&#39;яжемося з вами найближчим часом.</span>
                                </p>
                            </div>
                            <div class="modal-footer" style="border-radius: 0px 0px 12px 12px;">
                                <button class="btn" type="button" data-bs-dismiss="modal"
                                        style="border-style: dashed;background: rgba(125,99,69,0.36);">Закрити
                                </button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
</main>
<a class="d-none justify-content-center align-items-center scroll-top d-flex" href="#" id="scroll-top"></a>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
<script src="{% static 'assets/js/script.min.js' %}"></script>
<script src="{% static 'assets/js/bs-init.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>

</html>