<!DOCTYPE html>
{% load static %}
<html lang="uk">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        DOMINIUM - Агенція нерухомості
      {% endblock %}
    </title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              primary: '#133E44',
              secondary: '#E9DFC7',
              accent: '#377DFF',
              deepOcean: '#133E44',
              coolSage: '#758F8E',
              warmSand: '#CAA988',
              creamBeige: '#E7E0CE'
            },
            borderRadius: {
              button: '8px'
            },
            fontSize: {
              '3-5xl': '2.125rem', // кастомний розмір між 3xl і 4xl
              '2-5xl': '1.700rem', // кастомний розмір між 2xl і 3xl
            },
          }
        }
      }
    </script>
    <script>
      window.userIsAuthenticated = {{ user_is_authenticated|yesno:"true,false" }};
    </script>
    
    
    <link rel="stylesheet" href="{% static 'base/assets/css/style-base.css' %}" />
    {% block head %}

    {% endblock %}
  </head>

  <body class="bg-primary overflow-hidden" {% if request.GET %}data-no-preloader="1"{% endif %}>
    <input type="hidden" id="csrf-token" value="{{ csrf_token }}" />

    {% include 'partials/preloader.html' %}

    <div class="fade-in">
      <div id="scroll-container" class="min-h-screen">
        {% block header %}
          {% include 'partials/header.html' %}
        {% endblock %}

        <main class="{% block main_padding %}pt-0 pb-0{% endblock %}">
          {% block content %}

          {% endblock %}
        </main>
        {% include 'partials/footer.html' %}
        {% include 'partials/like-button.html' %}
        <a href="#" id="scrollToTop" class="hidden fixed bottom-6 right-6 bg-accent text-white p-3 rounded-full shadow-lg hover:bg-opacity-90 z-50 transition-opacity duration-300"><i class="ri-arrow-up-line"></i></a>
      </div>
    </div>

    {% include 'partials/mobile_nav.html' %}

    {% block scripts %}
      <script src="{% static 'base/assets/js/scrollBtn.js' %}"></script>
      <script src="{% static 'base/assets/js/like-button.js' %}"></script>
      <script src="{% static 'base/assets/js/scroll-to-reshresh.js' %}"></script>
    {% endblock %}
  </body>
</html>
