<!DOCTYPE html>
{% load static %}
<html lang="uk">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Dominium</title>
    <meta name="description" content="">
    <meta name="keywords" content="">

    <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
    <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">

    <link href="{% static '/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="{% static '/assets/vendor/aos/aos.css' %}" rel="stylesheet">

    <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">
</head>

<body class="index-page">

<!--<div class="video-container">-->
<!--    <video autoplay muted loop>-->
<!--        <source src="{% static 'assets/video/background.mp4' %}" type="video/mp4">-->
<!--        Ваш браузер не підтримує відео.-->
<!--    </video>-->
<!--</div>-->
<header id="header" class="header d-flex align-items-center px-3 sticky-top">
    <div class="container-fluid position-relative d-flex align-items-center justify-content-between">

        <a href="#" class="logo d-flex align-items-center justify-content-center">
            <img src="{% static 'assets/img/Domion_logo-02.png' %}"
                 alt="Logo" class="logo-img">
        </a>


        <nav id="navmenu" class="navmenu d-none" data-aos="slide-left">
            <!--            <ul>-->
            <!--                <li><a href="#hero" class="nav-item active">Home</a></li>-->
            <!--                <li><a href="#about" class="nav-item active">About</a></li>-->
            <!--                <li><a href="#contact" class="nav-item active">Contact</a></li>-->
            <!--            </ul>-->
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

    </div>
</header>

<main class="main">


    <section id="hero" class="hero section transparent-background">

        <div class="container text-center" data-aos="fade-up" data-aos-delay="100">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <h2>Невдовзі відкриття сайту</h2>
                    <p>-------______________--------</p>
                </div>


                <div class="col-lg-5 hero-newsletter">
                    <p>Підпишись, щоб дізнатись першим про запуск сайту!</p>
                    <form action="../static/forms/newsletter.php" method="post" class="php-email-form">
                        <div class="newsletter-form"><input type="email" name="email" placeholder="Пошта"><input
                                type="submit"
                                value="Підписатись"></div>
                        <div class="loading">Завантаження</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Ти маєш змогу дізнатись про запуск першим. Вітаю!</div>
                    </form>
                </div>

                <div class="social-links">
                    <a href="#"><i class="bi bi-facebook"></i></a>
                    <a href="#"><i class="bi bi-instagram"></i></a>
                </div>

            </div>
        </div>

    </section>


    <section id="about" class="about section transparent-background">

        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore
                        magna aliqua.
                    </p>
                    <ul>
                        <li><i class="bi bi-check2-circle"></i> <span>Ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
                        </li>
                        <li><i class="bi bi-check2-circle"></i> <span>Duis aute irure dolor in reprehenderit in voluptate velit.</span>
                        </li>
                        <li><i class="bi bi-check2-circle"></i>
                            <span>Ullamco laboris nisi ut aliquip ex ea commodo</span></li>
                    </ul>
                </div>

                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
                    <p>------__________-----_________---________</p>
                </div>

            </div>

        </div>

    </section>


    <section id="contact" class="contact section transparent-background">


        <div class="container section-title" data-aos="fade-rigth">
            <h1>Контакти</h1>
            <p></p>
        </div>

        <div class="container" data-aos="fade-right" data-aos-delay="100">

            <div class="row gy-4">

                <div class="col-lg-6">

                    <div class="row gy-4">
                        <div class="col-md-6">
                            <div class="info-item" data-aos="fade-right" data-aos-delay="200">
                                <i class="bi bi-geo-alt"></i>
                                <h2>Адреса</h2>
                                <p class="fs-4">м. Хуст, Україна</p>
                                <p class="fs-4">вул.Корятовича, 10. 2 поверх</p>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="info-item" data-aos="fade-right" data-aos-delay="200">
                                <i class="bi bi-telephone"></i>
                                <h2>Контакти</h2>
                                <p class="fs-5">+380 (77) 003-21-21</p>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="info-item" data-aos="fade-right" data-aos-delay="300">
                                <i class="bi bi-envelope"></i>
                                <h2>Пошта</h2>
                                <p>dominium.realty.agency@gmail.com</p>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="info-item" data-aos="fade-right" data-aos-delay="300">
                                <i class="bi bi-clock"></i>
                                <h2>Графік роботи</h2>
                                <div class="row justify-content-around">
                                    <div class=".col-6 .col-sm-3">
                                        <p class="fs-3">Понеділок - Пʼятниця</p>
                                        <p class="fs-4">09:00 - 19:00</p>
                                    </div>
                                    <div class=".col-6 .col-sm-3">
                                        <p class="fs-5">Субота</p>
                                        <p class="fs-6">10:00 - 16:00</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="col-lg-6">
                    <form action="../static/forms/contact.php" method="post" class="php-email-form"
                          data-aos="fade-right"
                          data-aos-delay="350">
                        <div class="row gy-4">

                            <div class="col-md-6">
                                <input type="text" name="name" class="form-control" placeholder="Імʼя" required="">
                            </div>

                            <div class="col-md-6 ">
                                <input type="email" class="form-control" name="email" placeholder="Пошта"
                                       required="">
                            </div>

                            <div class="col-12">
                                <input type="text" class="form-control" name="subject" placeholder="Тема звернення"
                                       required="">
                            </div>

                            <div class="col-12">
                                <textarea class="form-control" name="message" rows="6" placeholder="Повідомлення"
                                          required=""></textarea>
                            </div>

                            <div class="col-12 text-center">
                                <div class="loading">Loading</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Ваше повідомлення направлено на розгляд</div>

                                <button type="submit">Відправити повідомлення</button>
                            </div>

                        </div>
                    </form>
                </div>

            </div>

        </div>

    </section>

</main>

<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>


<div id="preloader"></div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
<script src="{% static 'assets/vendor/aos/aos.js' %}"></script>

<script src="../static/assets/js/main.js"></script>

</body>

</html>