<!-- Header -->
<header
        class="h-16 bg-white border-b border-gray-200 flex items-center justify-between px-6"
>
    <h1 class="text-xl font-semibold lg:hidden">Об'єкти</h1>
    <div class="flex items-center space-x-4 border border-blue-500">
        <div class="relative w-8 h-8 flex items-center justify-center cursor-pointer border border-red-500">
            <i class="ri-notification-3-line"></i>
            <span class="absolute top-0 right-0 w-2 h-2 bg-red-500 rounded-full"></span>
        </div>
        <div class="w-8 h-8 flex items-center justify-center cursor-pointer border border-green-500">
            <i class="ri-settings-3-line"></i>
        </div>
        <div class="flex items-center cursor-pointer border border-yellow-500">
            <div class="w-8 h-8 bg-gray-200 rounded-full flex items-center justify-center">
                <i class="ri-user-line"></i>
            </div>
        </div>
    </div>
</header>